*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 12%;
    background: rgba(33, 33, 36, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.index{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.index:hover{
    color: blueviolet;
    text-shadow: 0 0 25px blueviolet,
                 0 0 50px blueviolet;
    transform: scale(1.1);
}

span{
    color: blueviolet;
}

.navbar a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    cursor: pointer;
}
.navbar a:hover,
.navbar a.active{
    color: blueviolet;
    border-bottom: 3px solid blueviolet;
}

.contact{
    padding: 10px 20px;
    background-color: white;
    color: blueviolet;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.contact:hover{
    background-color: blueviolet;
    color: white;
    box-shadow: 0 0 25px blueviolet;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: white;
    display: fixed;
    align-items: center;
    gap: 7em;
    padding: 200px 9% 0;
}
.home-content{
    max-width: 100%;
}
.home-content h3{
    font-size: 40px;
}
.home-content h1{
    font-size: 60px;
    line-height: 1.2;
}
.home-content p{
    font-size: 20px;
    margin: 25px 0 30px;
}

.skills{
    width: 100%;
    min-height: 50vh;
    background: white;
    display: fixed;
    align-items: center;
    gap: 7em;
    padding: 20px;
}
.skills h1{
    text-align: center;
}

.skills-content{
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 30px;
}
.skills-content h3{
    text-align: left;
    border-bottom: 2px solid black;
    font-size: 40px;
    padding: 20px;
}

.skills-content p{
    display: inline-block;
    border: 2px solid blueviolet;
    border-radius: 8px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 15px 20px;
    font-size: 16px;
}

.btn-box{
    width: 400px;
    display: flex;
    gap: 2em;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.contact-btn{
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.contact-btn:hover{
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
}

.project-btn{
    padding: 15px 30px;
    background-color: blueviolet;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.project-btn:hover{
    background-color: white;
    color: blueviolet;
}

.contact-popup{
    width: 400px;
    background: lightgrey;
    border-radius: 8px;
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px 30px;
    color: blueviolet;
    visibility: hidden;
    transition: 0.3s ease;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.contact-popup h2{
    font-size: 40px;
    font-weight: 500;
    margin: 20px 0;
    padding: 0 0 20px;
}

.contact-popup button{
    width: 300px;
    margin-top: 50px;
    padding: 10px 0;
    background: white;
    border: 2px solid blueviolet;
    color: blueviolet;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s ease;
}
.contact-popup button:hover{
    box-shadow: 0 0 25px blueviolet;
    cursor: pointer;
}
.popup-email,
.popup-linkedin{
    font-size: 18px;
    padding: 5px 15px;
}

table{
    font-family: arial, sans-serif;
    border: 2px solid blueviolet;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.eduimg{
    display: grid;
    align-items: center; 
    grid-template-columns: 3fr 3fr;
    column-gap: 5px;
}

.project-content{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.project-link{
    font-size: 30px;
    color: black;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    cursor: pointer;
}
.project-link:hover{
    color: blueviolet;
    border-bottom: 3px solid blueviolet;
}